{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Sign In" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<section id="about" style="background-color: #9c9d9e;" class="pb-5">
	<div class="container text-center text-align">
		<div class="row " id="pwd-container">

			
			<div class="col-md-4 offset-md-4 my-5">
				<section class="login-form p-4">
					<div class="account-form">
						<h4>{% trans "Sign In" %}</h4>
						<form class="text-left contact_form text-dark" method="POST" action="{% url 'account_login' %}">
							{% csrf_token %}
							{{ form|crispy }}
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<div class="text-center mb-4">
								<button class="primary-btn text-uppercase" type="submit">{% trans "Log In" %}</button><br>
							</div>
							<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
							Need an Account?
							<a class="button secondaryAction" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
						</form>
					</div>
				</section>  
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $( ".navbar-nav li:nth-child(5)" ).addClass('active');
    });
</script>
{% endblock %}